@model IEnumerable<PatientDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Patients List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="PatientCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Add New Patient</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>				
					<th>
						Ref Number
					</th>
					<th>
						Lab Number
						
					<th>
						Pateint Name
					</th>
					<th>
						Age
					</th>
					<th>
						Sex
					</th>
					<th>
						Test Type
					</th>
					<th>
						Created Date
					</th>					
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.RefNumber
						</td>	
						<td>
							@item.LabNumber
						</td>
						<td>
							@item.PatientName
						</td>
						<td>
							@item.Age
						</td>
						<td>
							@item.Sex
						</td>
						<td>
							@item.TestType
						</td>
						<td>
							@item.CreatedDate
						</td>
						<td>
							<a asp-action="PatientDelete" asp-route-couponId="@item.PatientNumber" class="btn btn-danger">
								<i class="bi bi-view-list"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>
